.container {
    display: flex;
}

.container-nav{
    background: var(--white-color);
    flex: 1;
}

.container-nav-fil {
    display: flex;
    align-items: center;
}

.container-nav-fil {

}

.container-nav-fil i {
    font-size: 16px;
}

.container-product {
    flex: 4;
}