.container {
    margin: 0  auto;
}

.container-block {
    background: #FFFFFF;
    padding: 16px;
    margin-top: 32px;
}

.container-heading {
    margin: 32px 0 0;
}

.container-heading p {
    font-family: gilroy-medium;
    font-size: 24px;
}

.container-order {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
}

.container-order > p {
    font-size: 16px;
    color: #85858A;
}

.container-order img {
    object-fit: cover;
}

.container-order-top p {
    font-family: gilroy-medium;
    font-size: 24px;
} 

.line {
    border-bottom: 1px solid #ddd;
    margin: 32px 0;
}

.line2 {
    border-bottom: 1px solid #EDEEF2;
}

.container-order-top {
    display: flex;
}

.container-order-item {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-order-product {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 8px 16px 8px 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 1px;
    border-radius: 3px;
}

.container-order-info  img {
    object-fit: cover;
}

.container-order-info {
    display: flex;
    align-items: center;
    gap: 32px;
}

.container-order-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.container-order-text p{
    font-size: 14px;
    color: #334155;
}

.container-order-bot {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
    background: #FFFFFF;
    margin: 32px 0;
}

/* phan trang */
.pagination {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px 0;
}

.pre,
.next {
    width: 30px;
    height: 30px;
    padding: 5px;
    background: var(--white-color);
    border-radius: 5px;
    cursor: pointer;
    
}

.pre:hover,
.next:hover ,
.pagination-num button:hover{
    background-color: var(--main-color);
    color: var(--white-color);
}

.pre i,
.next i {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-num {
    display: flex;
    gap: 10px;
}

.pagination-num button {
    background: var(--main-background);
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}
