.main-width{
    width: 1120px;
}

header {
    background: var(--main-color);
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-info {
    display: flex;
    justify-content: space-between;
}

.header-info-dis {
    display: flex;
}

.header-info-country {
    font-size: 16px;
    color: var(--white-color);
}

.boder-r {
    border-right: 1px solid #fff;
    margin: 0 5px;
}

.header-authen {
    display: flex;
}

.header-info-user {
    display: flex;

}

.btn-sign,
.btn-register {
    border: none;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 16px;
    font-size: large;
}

.btn-register {

}


